{{> choixVip}}
<div class="article">
    <form>
        <fieldset>
            <legend>Article</legend>
            <p>Choisissez un vip pour voir les articles le concernant</p>
        </fieldset>
    </form>
</div>
