<h1>Ajouter</h1>
<form method="POST" action="/vips/ajouter/validationAjout">

    Nom :
    <input type="text" name="nom" required/> </br></br>

    Prenom :
    <input type="text" name="prenom" required/> </br></br>

    Nationnalité :
    <select name="nationalite"> </br></br>
        {{#each nationalite}}
        <option value ="{{this.NATIONALITE_NUMERO}}">{{this.NATIONALITE_NOM}}</option>
        {{/each}}
    </select></br></br>

    Sexe :
    <select name="sexe"> </br></br>
        <option value ="F">Femme</option>
        <option value ="M">Homme</option>
    </select></br></br>

    Date de naissance :
    <input type="date" name="naissance" required/> </br></br>

    Texte :
    <textarea name="texte" required></textarea> </br></br>

    Photo :
    <input type="file" accept=".jpg, .png, .jpeg, .bmp, .gif" name="photo" required/></br></br>

    Titre de la photo :
    <input type="text" name="titrePhoto" required/></br></br>

    Commentaire de la photo :
    <input type="text" name="commentairePhoto" required/></br></br>

    <input type="submit" value="Ajouter">
</form>
