body {
    font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
    background-image:-webkit-linear-gradient(#9f0909, #4e0000);
    background-image:-o-linear-gradient(#9f0909, #4e0000);
    background-image:linear-gradient(#9f0909, #4e0000);
    background-size: 1rem 200rem;
    font-size:0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
.monBody #container {
    width: 1300px;
    margin: 0 auto;
    background:#ffffff;
}
.monBody #header {
    height:140px;
    background-color:#000;
    color:#fff;
}

.menu_haut {background-color:#000;color:#fff;margin-top:-13px;width:100%;}
.menu_haut ul {
    width:100%;
    text-align:center;
    height:30px;
    margin-left:-50px;
    margin-right:-50px;
}
.menu_haut li {
    text-decoration:none;
    font-weight:bold;
    display:inline;
    font-size:14px;
    padding:10px 10px 10px 10px;
    color:#fff;
}
.menu_haut li a {
    color: #fff;
    text-decoration: none;
    display: inline;
    height: 100%;
    border: 0 none;
}
.menu_haut li a:hover {
    color:#000;
    background:#eee;
}

.monBody #contenu {
    padding:20px;
    overflow: auto;
}
.monBody #footer {
    padding: 0 10px;
    font-size:0.8em;
    text-align:center;
    height:150px;
    background:url(/image/footer.jpg) no-repeat;
}
.baniere{float:left;
    margin-top:20px;
    margin-left:5px;
    border:none;}
    .baniere img{
        border:none;
    }

    #LogoNode {
        max-height: 20%;
        max-width: 20%;
    }

    a  {
        text-decoration:none;
        color:#0072ff;
    }

    .traitVertical {
        border-left: 1px white solid;
    }

    /* mon css personnel */

    .photo{
        display: inline-block;
        margin-right: 25px;
    }
    .photoVip{
        height :175px;
    }
.textEach{
    text-align: left;
}
    #description{
        float:left;
        padding-left: 100px;
    }
    #description p{
        text-align: left;
    }
    #descriptionPartielle1{
        display: block;
        float: left;
    }
    #descriptionPartielle1 div{
        display: inline-block;
        vertical-align: top;
    }
    #descriptionPartielle2{
        display: block;
        float:left;
        width: 100%;
    }
    .infobulle{
        position: absolute;
        visibility : hidden;
        border: 1px solid Black;
        font-size: 10px;
        background-color: white;
        border-radius: 10px;
        height:150px;
    }
    .infobulle img{
        border-radius: 10px;
        height: 150px;
        width:100px;
        vertical-align: top
    }
    #block2{
        margin-left: 110px;
        margin-right: 10px;
    }
    #block{
        display: block;
        vertical-align: top;
        position: absolute;
        left:0;
        margin-right: 200px;
    }
    #listeNomPrenom{
        width:20%;
        display: inline-block;
        float: right;
        border: 1px solid black;
    }
    .article{
        width:70%;
        display: inline-block;
        float: left;
    }
    #test2{
        border: 1px solid Black;
        width:35%;
        height:400px;
        display: inline-block;
        vertical-align: top;
        margin-left: 20%;
    }
    #album img{
        height:120px;
        width:90px;
        border:2px solid black;
        opacity: 0.7;
    }
    #album img:hover {
        opacity: 1.0;
    }
    #test{
        width:30%;
        display:inline-block;
    }
    #imageSoloDuVip{
        height:300px;
    }
    .first,.prev,.next,.last{
        border:2px solid black;
        color:black;
        margin:15px;
    }
